body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:89px;
}
#u7989 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:89px;
}
#u7990 {
  position:absolute;
  left:2px;
  top:36px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:983px;
  height:49px;
}
#u7991 {
  position:absolute;
  left:217px;
  top:89px;
  width:983px;
  height:49px;
}
#u7992 {
  position:absolute;
  left:2px;
  top:16px;
  width:979px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:720px;
}
#u7993 {
  position:absolute;
  left:218px;
  top:135px;
  width:980px;
  height:720px;
}
#u7994 {
  position:absolute;
  left:2px;
  top:352px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:721px;
}
#u7995 {
  position:absolute;
  left:0px;
  top:89px;
  width:219px;
  height:721px;
}
#u7996 {
  position:absolute;
  left:2px;
  top:352px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u7997 {
  position:absolute;
  left:0px;
  top:89px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u7998 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u7999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u7999 {
  position:absolute;
  left:0px;
  top:137px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8000 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u8001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8001 {
  position:absolute;
  left:0px;
  top:185px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8002 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u8003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8003 {
  position:absolute;
  left:0px;
  top:710px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8004 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u8005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8005 {
  position:absolute;
  left:0px;
  top:758px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8006 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u8007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8007 {
  position:absolute;
  left:0px;
  top:806px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8008 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u8009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(238, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8009 {
  position:absolute;
  left:0px;
  top:233px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8010 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u8011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(238, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8011 {
  position:absolute;
  left:0px;
  top:281px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8012 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u8013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(238, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8013 {
  position:absolute;
  left:0px;
  top:662px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8014 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u8015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(222, 247, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8015 {
  position:absolute;
  left:0px;
  top:329px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8016 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u8017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(222, 247, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8017 {
  position:absolute;
  left:0px;
  top:377px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8018 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u8019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(222, 247, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8019 {
  position:absolute;
  left:0px;
  top:617px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8020 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u8021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(99, 216, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8021 {
  position:absolute;
  left:0px;
  top:425px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8022 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u8023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(222, 247, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8023 {
  position:absolute;
  left:0px;
  top:474px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8024 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u8025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(222, 247, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8025 {
  position:absolute;
  left:0px;
  top:521px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8026 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u8027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:49px;
}
#u8027 {
  position:absolute;
  left:0px;
  top:426px;
  width:7px;
  height:49px;
}
#u8028 {
  position:absolute;
  left:2px;
  top:16px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(222, 247, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8029 {
  position:absolute;
  left:0px;
  top:569px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8030 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u8031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:32px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u8031 {
  position:absolute;
  left:229px;
  top:98px;
  width:236px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u8031_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:32px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u8031.mouseOver {
}
#u8032 {
  position:absolute;
  left:0px;
  top:7px;
  width:236px;
  white-space:nowrap;
}
#u8033 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u8034 {
  position:absolute;
  left:294px;
  top:277px;
  width:166px;
  height:52px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u8035 {
  position:absolute;
  left:0px;
  top:4px;
  width:158px;
  white-space:nowrap;
}
#u8036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u8036 {
  position:absolute;
  left:294px;
  top:225px;
  width:169px;
  height:52px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u8037 {
  position:absolute;
  left:0px;
  top:4px;
  width:161px;
  white-space:nowrap;
}
#u8038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u8038 {
  position:absolute;
  left:707px;
  top:225px;
  width:190px;
  height:52px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u8039 {
  position:absolute;
  left:0px;
  top:4px;
  width:182px;
  white-space:nowrap;
}
#u8040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(16, 142, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#108EE9;
  text-align:left;
}
#u8040 {
  position:absolute;
  left:393px;
  top:172px;
  width:105px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#108EE9;
  text-align:left;
}
#u8041 {
  position:absolute;
  left:24px;
  top:4px;
  width:57px;
  white-space:nowrap;
}
#u8042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#989898;
  text-align:left;
}
#u8042 {
  position:absolute;
  left:287px;
  top:172px;
  width:105px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#989898;
  text-align:left;
}
#u8043 {
  position:absolute;
  left:24px;
  top:4px;
  width:57px;
  white-space:nowrap;
}
#u8044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#989898;
  text-align:left;
}
#u8044 {
  position:absolute;
  left:499px;
  top:172px;
  width:133px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#989898;
  text-align:left;
}
#u8045 {
  position:absolute;
  left:24px;
  top:4px;
  width:85px;
  white-space:nowrap;
}
#u8046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u8046 {
  position:absolute;
  left:292px;
  top:338px;
  width:133px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u8047 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u8048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8048 {
  position:absolute;
  left:296px;
  top:613px;
  width:82px;
  height:20px;
  text-align:left;
}
#u8049 {
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u8050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u8050 {
  position:absolute;
  left:706px;
  top:755px;
  width:145px;
  height:40px;
  font-size:15px;
  color:#FFFFFF;
}
#u8050_img.mouseOver {
}
#u8050.mouseOver {
}
#u8050_img.mouseDown {
}
#u8050.mouseDown {
}
#u8051 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u8052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u8052 {
  position:absolute;
  left:550px;
  top:755px;
  width:145px;
  height:40px;
  font-size:15px;
  color:#FFFFFF;
}
#u8052_img.mouseOver {
}
#u8052.mouseOver {
}
#u8052_img.mouseDown {
}
#u8052.mouseDown {
}
#u8053 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u8054 {
  position:absolute;
  left:296px;
  top:371px;
  width:879px;
  height:215px;
}
#u8055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:50px;
}
#u8055 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:50px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:18px;
}
#u8056 {
  position:absolute;
  left:16px;
  top:16px;
  width:35px;
  word-wrap:break-word;
}
#u8057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u8057 {
  position:absolute;
  left:67px;
  top:0px;
  width:247px;
  height:50px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:18px;
}
#u8058 {
  position:absolute;
  left:16px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u8059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u8059 {
  position:absolute;
  left:314px;
  top:0px;
  width:280px;
  height:50px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:18px;
}
#u8060 {
  position:absolute;
  left:16px;
  top:16px;
  width:248px;
  word-wrap:break-word;
}
#u8061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u8061 {
  position:absolute;
  left:594px;
  top:0px;
  width:280px;
  height:50px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:18px;
}
#u8062 {
  position:absolute;
  left:16px;
  top:16px;
  width:248px;
  word-wrap:break-word;
}
#u8063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
}
#u8063 {
  position:absolute;
  left:0px;
  top:50px;
  width:67px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u8064 {
  position:absolute;
  left:16px;
  top:11px;
  width:35px;
  word-wrap:break-word;
}
#u8065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u8065 {
  position:absolute;
  left:67px;
  top:50px;
  width:247px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u8066 {
  position:absolute;
  left:16px;
  top:11px;
  width:215px;
  word-wrap:break-word;
}
#u8067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u8067 {
  position:absolute;
  left:314px;
  top:50px;
  width:280px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#108EE9;
  line-height:18px;
}
#u8068 {
  position:absolute;
  left:16px;
  top:11px;
  width:248px;
  word-wrap:break-word;
}
#u8069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u8069 {
  position:absolute;
  left:594px;
  top:50px;
  width:280px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#108EE9;
  line-height:18px;
}
#u8070 {
  position:absolute;
  left:16px;
  top:11px;
  width:248px;
  word-wrap:break-word;
}
#u8071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
}
#u8071 {
  position:absolute;
  left:0px;
  top:90px;
  width:67px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u8072 {
  position:absolute;
  left:16px;
  top:11px;
  width:35px;
  word-wrap:break-word;
}
#u8073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u8073 {
  position:absolute;
  left:67px;
  top:90px;
  width:247px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u8074 {
  position:absolute;
  left:16px;
  top:11px;
  width:215px;
  word-wrap:break-word;
}
#u8075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u8075 {
  position:absolute;
  left:314px;
  top:90px;
  width:280px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#108EE9;
  line-height:18px;
}
#u8076 {
  position:absolute;
  left:16px;
  top:11px;
  width:248px;
  word-wrap:break-word;
}
#u8077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u8077 {
  position:absolute;
  left:594px;
  top:90px;
  width:280px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u8078 {
  position:absolute;
  left:16px;
  top:11px;
  width:248px;
  word-wrap:break-word;
}
#u8079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
}
#u8079 {
  position:absolute;
  left:0px;
  top:130px;
  width:67px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u8080 {
  position:absolute;
  left:16px;
  top:11px;
  width:35px;
  word-wrap:break-word;
}
#u8081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u8081 {
  position:absolute;
  left:67px;
  top:130px;
  width:247px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u8082 {
  position:absolute;
  left:16px;
  top:11px;
  width:215px;
  word-wrap:break-word;
}
#u8083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u8083 {
  position:absolute;
  left:314px;
  top:130px;
  width:280px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#108EE9;
  line-height:18px;
}
#u8084 {
  position:absolute;
  left:16px;
  top:11px;
  width:248px;
  word-wrap:break-word;
}
#u8085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u8085 {
  position:absolute;
  left:594px;
  top:130px;
  width:280px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#108EE9;
  line-height:18px;
}
#u8086 {
  position:absolute;
  left:16px;
  top:11px;
  width:248px;
  word-wrap:break-word;
}
#u8087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
}
#u8087 {
  position:absolute;
  left:0px;
  top:170px;
  width:67px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u8088 {
  position:absolute;
  left:16px;
  top:11px;
  width:35px;
  word-wrap:break-word;
}
#u8089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u8089 {
  position:absolute;
  left:67px;
  top:170px;
  width:247px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u8090 {
  position:absolute;
  left:16px;
  top:11px;
  width:215px;
  word-wrap:break-word;
}
#u8091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u8091 {
  position:absolute;
  left:314px;
  top:170px;
  width:280px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#108EE9;
  line-height:18px;
}
#u8092 {
  position:absolute;
  left:16px;
  top:11px;
  width:248px;
  word-wrap:break-word;
}
#u8093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u8093 {
  position:absolute;
  left:594px;
  top:170px;
  width:280px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#108EE9;
  line-height:18px;
}
#u8094 {
  position:absolute;
  left:16px;
  top:11px;
  width:248px;
  word-wrap:break-word;
}
#u8095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u8095 {
  position:absolute;
  left:610px;
  top:604px;
  width:245px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u8096 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u8097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u8097 {
  position:absolute;
  left:907px;
  top:604px;
  width:287px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u8098 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
