body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1202px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:730px;
}
#u12257 {
  position:absolute;
  left:220px;
  top:138px;
  width:980px;
  height:730px;
}
#u12258 {
  position:absolute;
  left:2px;
  top:357px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:304px;
  background:inherit;
  background-color:rgba(241, 244, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12259 {
  position:absolute;
  left:220px;
  top:706px;
  width:982px;
  height:304px;
}
#u12260 {
  position:absolute;
  left:2px;
  top:144px;
  width:978px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#BCBCBC;
}
#u12261 {
  position:absolute;
  left:448px;
  top:316px;
  width:337px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#BCBCBC;
}
#u12262 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u12263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:36px;
}
#u12263 {
  position:absolute;
  left:1029px;
  top:85px;
  width:161px;
  height:35px;
}
#u12263_img.mouseOver {
}
#u12263.mouseOver {
}
#u12263_img.mouseDown {
}
#u12263.mouseDown {
}
#u12264 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u12265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:36px;
}
#u12265 {
  position:absolute;
  left:902px;
  top:85px;
  width:161px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u12266 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u12267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u12267 {
  position:absolute;
  left:262px;
  top:778px;
  width:104px;
  height:17px;
  font-size:15px;
}
#u12268 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u12269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u12269 {
  position:absolute;
  left:530px;
  top:778px;
  width:119px;
  height:17px;
  font-size:15px;
}
#u12270 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u12271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u12271 {
  position:absolute;
  left:764px;
  top:778px;
  width:104px;
  height:17px;
  font-size:15px;
}
#u12272 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u12273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u12273 {
  position:absolute;
  left:262px;
  top:805px;
  width:104px;
  height:17px;
  font-size:15px;
}
#u12274 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u12275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u12275 {
  position:absolute;
  left:530px;
  top:805px;
  width:125px;
  height:17px;
  font-size:15px;
}
#u12276 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u12277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u12277 {
  position:absolute;
  left:262px;
  top:832px;
  width:76px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u12278 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u12279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u12279 {
  position:absolute;
  left:764px;
  top:805px;
  width:104px;
  height:17px;
  font-size:15px;
}
#u12280 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u12281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:120px;
}
#u12281 {
  position:absolute;
  left:338px;
  top:832px;
  width:158px;
  height:120px;
}
#u12282 {
  position:absolute;
  left:2px;
  top:52px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:120px;
}
#u12283 {
  position:absolute;
  left:628px;
  top:832px;
  width:158px;
  height:120px;
}
#u12284 {
  position:absolute;
  left:2px;
  top:52px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u12285 {
  position:absolute;
  left:254px;
  top:741px;
  width:91px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u12286 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u12287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u12287 {
  position:absolute;
  left:527px;
  top:832px;
  width:91px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u12288 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u12289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:721px;
}
#u12289 {
  position:absolute;
  left:0px;
  top:89px;
  width:219px;
  height:721px;
}
#u12290 {
  position:absolute;
  left:2px;
  top:352px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:89px;
}
#u12291 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:89px;
}
#u12292 {
  position:absolute;
  left:2px;
  top:36px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:983px;
  height:49px;
}
#u12293 {
  position:absolute;
  left:217px;
  top:89px;
  width:983px;
  height:49px;
}
#u12294 {
  position:absolute;
  left:2px;
  top:16px;
  width:979px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12295 {
  position:absolute;
  left:0px;
  top:89px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12296 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u12297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12297 {
  position:absolute;
  left:0px;
  top:137px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12298 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u12299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12299 {
  position:absolute;
  left:0px;
  top:185px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12300 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u12301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12301 {
  position:absolute;
  left:0px;
  top:233px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12302 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u12303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12303 {
  position:absolute;
  left:0px;
  top:524px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12304 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u12305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12305 {
  position:absolute;
  left:0px;
  top:572px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12306 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u12307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(99, 216, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12307 {
  position:absolute;
  left:0px;
  top:282px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12308 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u12309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(238, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12309 {
  position:absolute;
  left:0px;
  top:331px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12310 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u12311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(238, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12311 {
  position:absolute;
  left:0px;
  top:379px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12312 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u12313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:49px;
}
#u12313 {
  position:absolute;
  left:0px;
  top:282px;
  width:7px;
  height:49px;
}
#u12314 {
  position:absolute;
  left:2px;
  top:16px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(238, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12315 {
  position:absolute;
  left:0px;
  top:427px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12316 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u12317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(238, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12317 {
  position:absolute;
  left:0px;
  top:475px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12318 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u12319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:32px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u12319 {
  position:absolute;
  left:229px;
  top:101px;
  width:328px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u12319_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:32px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u12319.mouseOver {
}
#u12320 {
  position:absolute;
  left:0px;
  top:7px;
  width:328px;
  white-space:nowrap;
}
#u12321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u12321 {
  position:absolute;
  left:969px;
  top:941px;
  width:160px;
  height:40px;
  font-size:15px;
  color:#FFFFFF;
}
#u12321_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u12321.mouseOver {
}
#u12321_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u12321.mouseDown {
}
#u12322 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u12323 {
  position:absolute;
  left:919px;
  top:769px;
  width:270px;
  height:131px;
}
#u12323_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:131px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#797979;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12324 {
  position:absolute;
  left:995px;
  top:911px;
  width:100px;
  height:17px;
  font-size:15px;
}
#u12325 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12324_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12326 {
  position:absolute;
  left:1068px;
  top:911px;
  width:100px;
  height:17px;
  font-size:15px;
}
#u12327 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12326_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u12328 {
  position:absolute;
  left:919px;
  top:748px;
  width:71px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u12329 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u12330 {
  position:absolute;
  left:919px;
  top:911px;
  width:71px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u12331 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:214px;
}
#u12332 {
  position:absolute;
  left:900px;
  top:146px;
  width:290px;
  height:214px;
}
#u12333 {
  position:absolute;
  left:2px;
  top:99px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:283px;
}
#u12334 {
  position:absolute;
  left:900px;
  top:405px;
  width:290px;
  height:283px;
}
#u12335 {
  position:absolute;
  left:2px;
  top:134px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u12336 {
  position:absolute;
  left:920px;
  top:174px;
  width:261px;
  height:180px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u12337 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u12338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:112px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0588235294117647);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12338 {
  position:absolute;
  left:1173px;
  top:179px;
  width:8px;
  height:112px;
}
#u12339 {
  position:absolute;
  left:2px;
  top:48px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:112px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0588235294117647);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12340 {
  position:absolute;
  left:1173px;
  top:442px;
  width:8px;
  height:112px;
}
#u12341 {
  position:absolute;
  left:2px;
  top:48px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:26px;
}
#u12342 {
  position:absolute;
  left:900px;
  top:146px;
  width:290px;
  height:26px;
  color:#FFFFFF;
}
#u12343 {
  position:absolute;
  left:2px;
  top:5px;
  width:286px;
  word-wrap:break-word;
}
#u12344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u12344 {
  position:absolute;
  left:843px;
  top:631px;
  width:50px;
  height:50px;
}
#u12345 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u12346 {
  position:absolute;
  left:919px;
  top:490px;
  width:180px;
  height:20px;
  color:#000000;
}
#u12346_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u12346.mouseOver {
}
#u12346_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u12346.mouseDown {
}
#u12347 {
  position:absolute;
  left:2px;
  top:2px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u12348 {
  position:absolute;
  left:923px;
  top:431px;
  width:123px;
  height:179px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u12349 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u12350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u12350 {
  position:absolute;
  left:1025px;
  top:522px;
  width:113px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u12351 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u12352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:36px;
}
#u12352 {
  position:absolute;
  left:1028px;
  top:370px;
  width:153px;
  height:35px;
}
#u12352_img.mouseOver {
}
#u12352.mouseOver {
}
#u12352_img.mouseDown {
}
#u12352.mouseDown {
}
#u12353 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u12354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:36px;
}
#u12354 {
  position:absolute;
  left:901px;
  top:370px;
  width:161px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u12355 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
