body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:89px;
}
#u6017 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:89px;
}
#u6018 {
  position:absolute;
  left:2px;
  top:36px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:983px;
  height:49px;
}
#u6019 {
  position:absolute;
  left:217px;
  top:89px;
  width:983px;
  height:49px;
}
#u6020 {
  position:absolute;
  left:2px;
  top:16px;
  width:979px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:560px;
}
#u6021 {
  position:absolute;
  left:218px;
  top:135px;
  width:980px;
  height:560px;
}
#u6022 {
  position:absolute;
  left:2px;
  top:272px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#BCBCBC;
}
#u6023 {
  position:absolute;
  left:388px;
  top:339px;
  width:337px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#BCBCBC;
}
#u6024 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u6025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:275px;
  background:inherit;
  background-color:rgba(241, 244, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6025 {
  position:absolute;
  left:218px;
  top:694px;
  width:982px;
  height:275px;
}
#u6026 {
  position:absolute;
  left:2px;
  top:130px;
  width:978px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u6027 {
  position:absolute;
  left:267px;
  top:894px;
  width:111px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u6028 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u6029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6029 {
  position:absolute;
  left:363px;
  top:815px;
  width:606px;
  height:48px;
}
#u6030 {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  word-wrap:break-word;
}
#u6031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u6031 {
  position:absolute;
  left:599px;
  top:883px;
  width:171px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u6032 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u6033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u6033 {
  position:absolute;
  left:267px;
  top:815px;
  width:71px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u6034 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:721px;
}
#u6035 {
  position:absolute;
  left:0px;
  top:89px;
  width:219px;
  height:721px;
}
#u6036 {
  position:absolute;
  left:2px;
  top:352px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6037 {
  position:absolute;
  left:0px;
  top:89px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6038 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u6039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6039 {
  position:absolute;
  left:0px;
  top:137px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6040 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u6041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6041 {
  position:absolute;
  left:0px;
  top:185px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6042 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u6043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6043 {
  position:absolute;
  left:0px;
  top:755px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6044 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u6045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6045 {
  position:absolute;
  left:0px;
  top:803px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6046 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u6047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6047 {
  position:absolute;
  left:0px;
  top:851px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6048 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u6049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(238, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6049 {
  position:absolute;
  left:0px;
  top:233px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6050 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u6051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(238, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6051 {
  position:absolute;
  left:0px;
  top:281px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6052 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u6053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(238, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6053 {
  position:absolute;
  left:0px;
  top:707px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6054 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u6055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(222, 247, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6055 {
  position:absolute;
  left:0px;
  top:329px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6056 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u6057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(99, 216, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6057 {
  position:absolute;
  left:0px;
  top:377px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6058 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u6059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(222, 247, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6059 {
  position:absolute;
  left:0px;
  top:614px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6060 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u6061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(222, 247, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6061 {
  position:absolute;
  left:0px;
  top:662px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6062 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u6063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(222, 247, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6063 {
  position:absolute;
  left:0px;
  top:425px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6064 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u6065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(222, 247, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6065 {
  position:absolute;
  left:0px;
  top:472px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6066 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u6067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(222, 247, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6067 {
  position:absolute;
  left:0px;
  top:566px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6068 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u6069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(222, 247, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6069 {
  position:absolute;
  left:0px;
  top:520px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6070 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u6071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:49px;
}
#u6071 {
  position:absolute;
  left:0px;
  top:377px;
  width:7px;
  height:49px;
}
#u6072 {
  position:absolute;
  left:2px;
  top:16px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:32px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u6073 {
  position:absolute;
  left:229px;
  top:98px;
  width:236px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u6073_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:32px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u6073.mouseOver {
}
#u6074 {
  position:absolute;
  left:0px;
  top:7px;
  width:236px;
  white-space:nowrap;
}
#u6075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:214px;
}
#u6075 {
  position:absolute;
  left:900px;
  top:146px;
  width:290px;
  height:214px;
}
#u6076 {
  position:absolute;
  left:2px;
  top:99px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:310px;
}
#u6077 {
  position:absolute;
  left:900px;
  top:367px;
  width:290px;
  height:310px;
}
#u6078 {
  position:absolute;
  left:2px;
  top:147px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u6079 {
  position:absolute;
  left:920px;
  top:174px;
  width:261px;
  height:180px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u6080 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u6081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:112px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0588235294117647);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6081 {
  position:absolute;
  left:1173px;
  top:179px;
  width:8px;
  height:112px;
}
#u6082 {
  position:absolute;
  left:2px;
  top:48px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:112px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0588235294117647);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6083 {
  position:absolute;
  left:1173px;
  top:489px;
  width:8px;
  height:112px;
}
#u6084 {
  position:absolute;
  left:2px;
  top:48px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:26px;
}
#u6085 {
  position:absolute;
  left:900px;
  top:146px;
  width:290px;
  height:26px;
  color:#FFFFFF;
}
#u6086 {
  position:absolute;
  left:2px;
  top:5px;
  width:286px;
  word-wrap:break-word;
}
#u6087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6087 {
  position:absolute;
  left:927px;
  top:392px;
  width:133px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6088 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u6089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6089 {
  position:absolute;
  left:843px;
  top:631px;
  width:50px;
  height:50px;
}
#u6090 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6091 {
  position:absolute;
  left:941px;
  top:553px;
  width:180px;
  height:20px;
  color:#000000;
}
#u6091_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6091.mouseOver {
}
#u6091_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6091.mouseDown {
}
#u6092 {
  position:absolute;
  left:2px;
  top:2px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u6093 {
  position:absolute;
  left:945px;
  top:492px;
  width:205px;
  height:280px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u6094 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u6095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u6095 {
  position:absolute;
  left:264px;
  top:728px;
  width:76px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u6096 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u6097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u6097 {
  position:absolute;
  left:344px;
  top:750px;
  width:193px;
  height:20px;
  font-size:14px;
  text-align:left;
}
#u6098 {
  position:absolute;
  left:2px;
  top:2px;
  width:189px;
  white-space:nowrap;
}
#u6099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u6099 {
  position:absolute;
  left:344px;
  top:725px;
  width:193px;
  height:20px;
  font-size:14px;
  text-align:left;
}
#u6100 {
  position:absolute;
  left:2px;
  top:2px;
  width:189px;
  white-space:nowrap;
}
