body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1202px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:730px;
}
#u12356 {
  position:absolute;
  left:220px;
  top:138px;
  width:980px;
  height:730px;
}
#u12357 {
  position:absolute;
  left:2px;
  top:357px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#BCBCBC;
}
#u12358 {
  position:absolute;
  left:448px;
  top:316px;
  width:337px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#BCBCBC;
}
#u12359 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u12360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:36px;
}
#u12360 {
  position:absolute;
  left:1029px;
  top:85px;
  width:161px;
  height:35px;
}
#u12360_img.mouseOver {
}
#u12360.mouseOver {
}
#u12360_img.mouseDown {
}
#u12360.mouseDown {
}
#u12361 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u12362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:36px;
}
#u12362 {
  position:absolute;
  left:902px;
  top:85px;
  width:161px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u12363 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u12364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:721px;
}
#u12364 {
  position:absolute;
  left:0px;
  top:89px;
  width:219px;
  height:721px;
}
#u12365 {
  position:absolute;
  left:2px;
  top:352px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:89px;
}
#u12366 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:89px;
}
#u12367 {
  position:absolute;
  left:2px;
  top:36px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:983px;
  height:49px;
}
#u12368 {
  position:absolute;
  left:217px;
  top:89px;
  width:983px;
  height:49px;
}
#u12369 {
  position:absolute;
  left:2px;
  top:16px;
  width:979px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12370 {
  position:absolute;
  left:0px;
  top:89px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12371 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u12372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12372 {
  position:absolute;
  left:0px;
  top:137px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12373 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u12374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12374 {
  position:absolute;
  left:0px;
  top:185px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12375 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u12376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12376 {
  position:absolute;
  left:0px;
  top:233px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12377 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u12378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12378 {
  position:absolute;
  left:0px;
  top:524px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12379 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u12380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12380 {
  position:absolute;
  left:0px;
  top:572px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12381 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u12382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(99, 216, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12382 {
  position:absolute;
  left:0px;
  top:282px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12383 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u12384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(238, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12384 {
  position:absolute;
  left:0px;
  top:331px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12385 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u12386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(238, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12386 {
  position:absolute;
  left:0px;
  top:379px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12387 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u12388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:49px;
}
#u12388 {
  position:absolute;
  left:0px;
  top:282px;
  width:7px;
  height:49px;
}
#u12389 {
  position:absolute;
  left:2px;
  top:16px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(238, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12390 {
  position:absolute;
  left:0px;
  top:427px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12391 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u12392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(238, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12392 {
  position:absolute;
  left:0px;
  top:475px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12393 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u12394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:304px;
  background:inherit;
  background-color:rgba(241, 244, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12394 {
  position:absolute;
  left:220px;
  top:706px;
  width:982px;
  height:304px;
}
#u12395 {
  position:absolute;
  left:2px;
  top:144px;
  width:978px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u12396 {
  position:absolute;
  left:258px;
  top:746px;
  width:91px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u12397 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u12398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u12398 {
  position:absolute;
  left:269px;
  top:775px;
  width:104px;
  height:17px;
  font-size:15px;
}
#u12399 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u12400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u12400 {
  position:absolute;
  left:269px;
  top:802px;
  width:104px;
  height:17px;
  font-size:15px;
}
#u12401 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u12402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u12402 {
  position:absolute;
  left:489px;
  top:775px;
  width:104px;
  height:17px;
  font-size:15px;
}
#u12403 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u12404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u12404 {
  position:absolute;
  left:489px;
  top:802px;
  width:76px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u12405 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u12406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:32px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u12406 {
  position:absolute;
  left:229px;
  top:98px;
  width:328px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u12406_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:32px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u12406.mouseOver {
}
#u12407 {
  position:absolute;
  left:0px;
  top:7px;
  width:328px;
  white-space:nowrap;
}
#u12408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u12408 {
  position:absolute;
  left:959px;
  top:947px;
  width:160px;
  height:40px;
  font-size:15px;
  color:#FFFFFF;
}
#u12408_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u12408.mouseOver {
}
#u12408_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u12408.mouseDown {
}
#u12409 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u12410 {
  position:absolute;
  left:909px;
  top:775px;
  width:270px;
  height:131px;
}
#u12410_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:131px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#797979;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12411 {
  position:absolute;
  left:985px;
  top:917px;
  width:100px;
  height:17px;
  font-size:15px;
}
#u12412 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12411_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12413 {
  position:absolute;
  left:1058px;
  top:917px;
  width:100px;
  height:17px;
  font-size:15px;
}
#u12414 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12413_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u12415 {
  position:absolute;
  left:909px;
  top:754px;
  width:71px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u12416 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u12417 {
  position:absolute;
  left:909px;
  top:917px;
  width:71px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u12418 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:214px;
}
#u12419 {
  position:absolute;
  left:900px;
  top:146px;
  width:290px;
  height:214px;
}
#u12420 {
  position:absolute;
  left:2px;
  top:99px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:283px;
}
#u12421 {
  position:absolute;
  left:900px;
  top:405px;
  width:290px;
  height:283px;
}
#u12422 {
  position:absolute;
  left:2px;
  top:134px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u12423 {
  position:absolute;
  left:920px;
  top:174px;
  width:261px;
  height:180px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u12424 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u12425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:112px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0588235294117647);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12425 {
  position:absolute;
  left:1173px;
  top:179px;
  width:8px;
  height:112px;
}
#u12426 {
  position:absolute;
  left:2px;
  top:48px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:112px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0588235294117647);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12427 {
  position:absolute;
  left:1173px;
  top:442px;
  width:8px;
  height:112px;
}
#u12428 {
  position:absolute;
  left:2px;
  top:48px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:26px;
}
#u12429 {
  position:absolute;
  left:900px;
  top:146px;
  width:290px;
  height:26px;
  color:#FFFFFF;
}
#u12430 {
  position:absolute;
  left:2px;
  top:5px;
  width:286px;
  word-wrap:break-word;
}
#u12431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u12431 {
  position:absolute;
  left:843px;
  top:631px;
  width:50px;
  height:50px;
}
#u12432 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u12433 {
  position:absolute;
  left:919px;
  top:490px;
  width:180px;
  height:20px;
  color:#000000;
}
#u12433_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u12433.mouseOver {
}
#u12433_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u12433.mouseDown {
}
#u12434 {
  position:absolute;
  left:2px;
  top:2px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u12435 {
  position:absolute;
  left:923px;
  top:431px;
  width:123px;
  height:179px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u12436 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u12437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u12437 {
  position:absolute;
  left:1025px;
  top:522px;
  width:113px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u12438 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u12439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:36px;
}
#u12439 {
  position:absolute;
  left:1028px;
  top:370px;
  width:153px;
  height:35px;
}
#u12439_img.mouseOver {
}
#u12439.mouseOver {
}
#u12439_img.mouseDown {
}
#u12439.mouseDown {
}
#u12440 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u12441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:36px;
}
#u12441 {
  position:absolute;
  left:901px;
  top:370px;
  width:161px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u12442 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
