body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:89px;
}
#u9296 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:89px;
}
#u9297 {
  position:absolute;
  left:2px;
  top:36px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:983px;
  height:49px;
}
#u9298 {
  position:absolute;
  left:217px;
  top:89px;
  width:983px;
  height:49px;
}
#u9299 {
  position:absolute;
  left:2px;
  top:16px;
  width:979px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:895px;
}
#u9300 {
  position:absolute;
  left:218px;
  top:135px;
  width:980px;
  height:895px;
}
#u9301 {
  position:absolute;
  left:2px;
  top:440px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:20px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u9302 {
  position:absolute;
  left:379px;
  top:380px;
  width:229px;
  height:20px;
  color:#000000;
}
#u9302_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u9302.mouseOver {
}
#u9302_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u9302.mouseDown {
}
#u9303 {
  position:absolute;
  left:2px;
  top:2px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u9304 {
  position:absolute;
  left:383px;
  top:339px;
  width:215px;
  height:160px;
  font-family:'微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u9305 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u9306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:721px;
}
#u9306 {
  position:absolute;
  left:0px;
  top:89px;
  width:219px;
  height:721px;
}
#u9307 {
  position:absolute;
  left:2px;
  top:352px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u9308 {
  position:absolute;
  left:0px;
  top:89px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u9309 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u9310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u9310 {
  position:absolute;
  left:0px;
  top:137px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u9311 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u9312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u9312 {
  position:absolute;
  left:0px;
  top:185px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u9313 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u9314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u9314 {
  position:absolute;
  left:0px;
  top:759px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u9315 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u9316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u9316 {
  position:absolute;
  left:0px;
  top:807px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u9317 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u9318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u9318 {
  position:absolute;
  left:0px;
  top:855px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u9319 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u9320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(238, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9320 {
  position:absolute;
  left:0px;
  top:233px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9321 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u9322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(238, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9322 {
  position:absolute;
  left:0px;
  top:281px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9323 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u9324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(238, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9324 {
  position:absolute;
  left:0px;
  top:711px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9325 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u9326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(222, 247, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9326 {
  position:absolute;
  left:0px;
  top:329px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9327 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u9328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(222, 247, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9328 {
  position:absolute;
  left:0px;
  top:377px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9329 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u9330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(222, 247, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9330 {
  position:absolute;
  left:0px;
  top:425px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9331 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u9332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(99, 216, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9332 {
  position:absolute;
  left:0px;
  top:473px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9333 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u9334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(222, 247, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9334 {
  position:absolute;
  left:0px;
  top:522px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9335 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u9336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(222, 247, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9336 {
  position:absolute;
  left:0px;
  top:569px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9337 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u9338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:49px;
}
#u9338 {
  position:absolute;
  left:0px;
  top:474px;
  width:7px;
  height:49px;
}
#u9339 {
  position:absolute;
  left:2px;
  top:16px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(222, 247, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9340 {
  position:absolute;
  left:0px;
  top:617px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9341 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u9342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(222, 247, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9342 {
  position:absolute;
  left:0px;
  top:665px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9343 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u9344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:32px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u9344 {
  position:absolute;
  left:229px;
  top:98px;
  width:236px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u9344_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:32px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u9344.mouseOver {
}
#u9345 {
  position:absolute;
  left:0px;
  top:7px;
  width:236px;
  white-space:nowrap;
}
#u9346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9346 {
  position:absolute;
  left:367px;
  top:1050px;
  width:352px;
  height:210px;
}
#u9347 {
  position:absolute;
  left:2px;
  top:97px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9348 {
  position:absolute;
  left:455px;
  top:1092px;
  width:193px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9349 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u9350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9350 {
  position:absolute;
  left:738px;
  top:1050px;
  width:352px;
  height:210px;
}
#u9351 {
  position:absolute;
  left:2px;
  top:97px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9352 {
  position:absolute;
  left:789px;
  top:1092px;
  width:273px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9353 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
#u9354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u9354 {
  position:absolute;
  left:927px;
  top:1198px;
  width:134px;
  height:40px;
  font-size:15px;
  color:#FFFFFF;
}
#u9354_img.mouseOver {
}
#u9354.mouseOver {
}
#u9354_img.mouseDown {
}
#u9354.mouseDown {
}
#u9355 {
  position:absolute;
  left:2px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u9356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u9356 {
  position:absolute;
  left:783px;
  top:1198px;
  width:134px;
  height:40px;
  font-size:15px;
  color:#FFFFFF;
}
#u9356_img.mouseOver {
}
#u9356.mouseOver {
}
#u9356_img.mouseDown {
}
#u9356.mouseDown {
}
#u9357 {
  position:absolute;
  left:2px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u9358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u9358 {
  position:absolute;
  left:927px;
  top:1172px;
  width:143px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u9359 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u9360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u9360 {
  position:absolute;
  left:434px;
  top:1184px;
  width:166px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u9361 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u9362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u9362 {
  position:absolute;
  left:678px;
  top:936px;
  width:145px;
  height:40px;
  font-size:15px;
  color:#FFFFFF;
}
#u9362_img.mouseOver {
}
#u9362.mouseOver {
}
#u9362_img.mouseDown {
}
#u9362.mouseDown {
}
#u9363 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u9364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u9364 {
  position:absolute;
  left:522px;
  top:936px;
  width:145px;
  height:40px;
  font-size:15px;
  color:#FFFFFF;
}
#u9364_img.mouseOver {
}
#u9364.mouseOver {
}
#u9364_img.mouseDown {
}
#u9364.mouseDown {
}
#u9365 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u9366_img {
  position:absolute;
  left:-11px;
  top:-1px;
  width:25px;
  height:130px;
}
#u9366p000 {
  position:absolute;
  left:-61px;
  top:56px;
  width:124px;
  height:6px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u9366p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:6px;
}
#u9366p001 {
  position:absolute;
  left:25px;
  top:83px;
  width:26px;
  height:26px;
}
#u9366p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:26px;
  height:28px;
}
#u9366.compound {
  width:0px;
  height:0px;
}
#u9366 {
  position:absolute;
  left:855px;
  top:970px;
  width:3px;
  height:118px;
}
#u9367 {
  position:absolute;
  left:-39px;
  top:51px;
  width:82px;
  visibility:hidden;
  -webkit-transform:rotate(-315deg);
  -moz-transform:rotate(-315deg);
  -ms-transform:rotate(-315deg);
  transform:rotate(-315deg);
  word-wrap:break-word;
  transform-origin:40.5px 8px;
  -ms-transform-origin:40.5px 8px;
  -moz-transform-origin:40.5px 8px;
  -webkit-transform-origin:40.5px 8px;
}
#u9368_img {
  position:absolute;
  left:-11px;
  top:-1px;
  width:25px;
  height:130px;
}
#u9368p000 {
  position:absolute;
  left:-61px;
  top:56px;
  width:124px;
  height:6px;
  -webkit-transform:rotate(114deg);
  -moz-transform:rotate(114deg);
  -ms-transform:rotate(114deg);
  transform:rotate(114deg);
}
#u9368p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:6px;
}
#u9368p001 {
  position:absolute;
  left:-33px;
  top:93px;
  width:26px;
  height:26px;
}
#u9368p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:26px;
  height:28px;
}
#u9368.compound {
  width:0px;
  height:0px;
}
#u9368 {
  position:absolute;
  left:601px;
  top:986px;
  width:3px;
  height:118px;
}
#u9369 {
  position:absolute;
  left:-22px;
  top:51px;
  width:47px;
  visibility:hidden;
  -webkit-transform:rotate(-24deg);
  -moz-transform:rotate(-24deg);
  -ms-transform:rotate(-24deg);
  transform:rotate(-24deg);
  word-wrap:break-word;
  transform-origin:23.5px 8px;
  -ms-transform-origin:23.5px 8px;
  -moz-transform-origin:23.5px 8px;
  -webkit-transform-origin:23.5px 8px;
}
#u9370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9370 {
  position:absolute;
  left:379px;
  top:557px;
  width:735px;
  height:48px;
  font-size:14px;
}
#u9371 {
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  white-space:nowrap;
}
#u9372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  text-decoration:underline;
  color:#169BD5;
}
#u9372 {
  position:absolute;
  left:379px;
  top:733px;
  width:89px;
  height:17px;
  font-size:15px;
  text-decoration:underline;
  color:#169BD5;
}
#u9373 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u9374 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u9375 {
  position:absolute;
  left:294px;
  top:277px;
  width:166px;
  height:52px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u9376 {
  position:absolute;
  left:0px;
  top:4px;
  width:158px;
  white-space:nowrap;
}
#u9377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u9377 {
  position:absolute;
  left:294px;
  top:225px;
  width:169px;
  height:52px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u9378 {
  position:absolute;
  left:0px;
  top:4px;
  width:161px;
  white-space:nowrap;
}
#u9379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u9379 {
  position:absolute;
  left:707px;
  top:225px;
  width:190px;
  height:52px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u9380 {
  position:absolute;
  left:0px;
  top:4px;
  width:182px;
  white-space:nowrap;
}
#u9381 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(16, 142, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#108EE9;
  text-align:left;
}
#u9382 {
  position:absolute;
  left:285px;
  top:172px;
  width:105px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#108EE9;
  text-align:left;
}
#u9383 {
  position:absolute;
  left:24px;
  top:4px;
  width:57px;
  white-space:nowrap;
}
#u9384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#989898;
  text-align:left;
}
#u9384 {
  position:absolute;
  left:391px;
  top:172px;
  width:105px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#989898;
  text-align:left;
}
#u9385 {
  position:absolute;
  left:24px;
  top:4px;
  width:57px;
  white-space:nowrap;
}
#u9386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#989898;
  text-align:left;
}
#u9386 {
  position:absolute;
  left:497px;
  top:172px;
  width:133px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#989898;
  text-align:left;
}
#u9387 {
  position:absolute;
  left:24px;
  top:4px;
  width:85px;
  white-space:nowrap;
}
#u9388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#989898;
  text-align:left;
}
#u9388 {
  position:absolute;
  left:617px;
  top:172px;
  width:133px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#989898;
  text-align:left;
}
#u9389 {
  position:absolute;
  left:24px;
  top:4px;
  width:85px;
  white-space:nowrap;
}
#u9390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u9390 {
  position:absolute;
  left:292px;
  top:338px;
  width:133px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u9391 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u9392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u9392 {
  position:absolute;
  left:382px;
  top:502px;
  width:143px;
  height:20px;
  font-size:14px;
  text-align:left;
}
#u9393 {
  position:absolute;
  left:2px;
  top:2px;
  width:139px;
  white-space:nowrap;
}
#u9394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u9394 {
  position:absolute;
  left:292px;
  top:552px;
  width:133px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u9395 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u9396 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u9397 {
  position:absolute;
  left:583px;
  top:489px;
  width:121px;
  height:52px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u9398 {
  position:absolute;
  left:0px;
  top:4px;
  width:113px;
  white-space:nowrap;
}
#u9399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u9399 {
  position:absolute;
  left:704px;
  top:489px;
  width:320px;
  height:28px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u9400 {
  position:absolute;
  left:8px;
  top:5px;
  width:312px;
  word-wrap:break-word;
}
#u9401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u9401 {
  position:absolute;
  left:1043px;
  top:493px;
  width:77px;
  height:20px;
  font-size:14px;
  text-align:left;
}
#u9402 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u9403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9403 {
  position:absolute;
  left:379px;
  top:615px;
  width:735px;
  height:48px;
  font-size:14px;
}
#u9404 {
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  white-space:nowrap;
}
#u9405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9405 {
  position:absolute;
  left:379px;
  top:673px;
  width:735px;
  height:48px;
  font-size:14px;
}
#u9406 {
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  white-space:nowrap;
}
#u9407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u9407 {
  position:absolute;
  left:593px;
  top:467px;
  width:390px;
  height:22px;
  font-size:18px;
  color:#FF0000;
}
#u9408 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u9409 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9410 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u9411 {
  position:absolute;
  left:463px;
  top:769px;
  width:574px;
  height:115px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u9412 {
  position:absolute;
  left:8px;
  top:5px;
  width:566px;
  word-wrap:break-word;
}
#u9413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:7px;
}
#u9413 {
  position:absolute;
  left:1013px;
  top:868px;
  width:21px;
  height:7px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u9414 {
  position:absolute;
  left:2px;
  top:-4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u9415 {
  position:absolute;
  left:378px;
  top:769px;
  width:93px;
  height:52px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u9416 {
  position:absolute;
  left:0px;
  top:4px;
  width:85px;
  white-space:nowrap;
}
#u9417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:139px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9417 {
  position:absolute;
  left:365px;
  top:757px;
  width:765px;
  height:139px;
}
#u9418 {
  position:absolute;
  left:2px;
  top:62px;
  width:761px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u9419 {
  position:absolute;
  left:484px;
  top:737px;
  width:390px;
  height:22px;
  font-size:18px;
  color:#FF0000;
}
#u9420 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u9421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u9421 {
  position:absolute;
  left:1043px;
  top:817px;
  width:77px;
  height:20px;
  font-size:14px;
  text-align:left;
}
#u9422 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u9423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9423 {
  position:absolute;
  left:536px;
  top:487px;
  width:605px;
  height:34px;
}
#u9424 {
  position:absolute;
  left:2px;
  top:9px;
  width:601px;
  visibility:hidden;
  word-wrap:break-word;
}
