body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:598px;
}
#u17 {
  position:absolute;
  left:217px;
  top:138px;
  width:982px;
  height:598px;
}
#u18 {
  position:absolute;
  left:2px;
  top:291px;
  width:978px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:680px;
}
#u19 {
  position:absolute;
  left:0px;
  top:89px;
  width:217px;
  height:680px;
}
#u20 {
  position:absolute;
  left:2px;
  top:332px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:89px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:89px;
}
#u22 {
  position:absolute;
  left:2px;
  top:36px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:983px;
  height:49px;
}
#u23 {
  position:absolute;
  left:217px;
  top:89px;
  width:983px;
  height:49px;
}
#u24 {
  position:absolute;
  left:2px;
  top:16px;
  width:979px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:983px;
  height:33px;
}
#u25 {
  position:absolute;
  left:216px;
  top:736px;
  width:983px;
  height:33px;
}
#u26 {
  position:absolute;
  left:2px;
  top:8px;
  width:979px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:546px;
}
#u27 {
  position:absolute;
  left:219px;
  top:136px;
  width:1px;
  height:546px;
}
#u28 {
  position:absolute;
  left:2px;
  top:265px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:378px;
}
#u29 {
  position:absolute;
  left:219px;
  top:682px;
  width:1px;
  height:378px;
}
#u30 {
  position:absolute;
  left:2px;
  top:181px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u31 {
  position:absolute;
  left:880px;
  top:270px;
  width:30px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(238, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
  text-align:left;
}
#u33 {
  position:absolute;
  left:10px;
  top:205px;
  width:200px;
  height:30px;
  color:#BCBCBC;
  text-align:left;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:10px;
  top:132px;
  width:200px;
  height:30px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background-color:#EEF5FF;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u35_input:disabled {
  color:grayText;
}
#u36 {
  position:absolute;
  left:10px;
  top:168px;
  width:200px;
  height:30px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background-color:#EEF5FF;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u36_input:disabled {
  color:grayText;
}
#u37 {
  position:absolute;
  left:9px;
  top:260px;
  width:200px;
  height:400px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:400px;
  background-color:#EEF5FF;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u38 {
  position:absolute;
  left:790px;
  top:250px;
  width:30px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u40 {
  position:absolute;
  left:800px;
  top:300px;
  width:30px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u42 {
  position:absolute;
  left:710px;
  top:260px;
  width:30px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u44 {
  position:absolute;
  left:700px;
  top:199px;
  width:30px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u46 {
  position:absolute;
  left:810px;
  top:380px;
  width:30px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u48 {
  position:absolute;
  left:910px;
  top:470px;
  width:30px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:38px;
}
#u50 {
  position:absolute;
  left:1010px;
  top:92px;
  width:125px;
  height:38px;
  font-size:15px;
  color:#FFFFFF;
}
#u50_img.mouseOver {
}
#u50.mouseOver {
}
#u50_img.mouseDown {
}
#u50.mouseDown {
}
#u51 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u52 {
  position:absolute;
  left:59px;
  top:498px;
  width:221px;
  height:72px;
  font-size:20px;
  color:#FF0000;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:38px;
}
#u54 {
  position:absolute;
  left:875px;
  top:92px;
  width:125px;
  height:38px;
  font-size:15px;
  color:#FFFFFF;
}
#u54_img.mouseOver {
}
#u54.mouseOver {
}
#u54_img.mouseDown {
}
#u54.mouseDown {
}
#u55 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  line-height:18px;
}
#u56 {
  position:absolute;
  left:234px;
  top:98px;
  width:29px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  line-height:18px;
}
#u56_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  line-height:18px;
}
#u56.mouseOver {
}
#u57 {
  position:absolute;
  left:0px;
  top:7px;
  width:29px;
  white-space:nowrap;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u58 {
  position:absolute;
  left:1028px;
  top:6px;
  width:161px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:65px;
}
#u60 {
  position:absolute;
  left:1109px;
  top:73px;
  width:91px;
  height:65px;
}
#u61 {
  position:absolute;
  left:2px;
  top:24px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:-11px;
  top:-11px;
  width:25px;
  height:76px;
}
#u62p000 {
  position:absolute;
  left:-32px;
  top:28px;
  width:68px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u62p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:6px;
}
#u62p001 {
  position:absolute;
  left:-12px;
  top:-10px;
  width:26px;
  height:26px;
}
#u62p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u62.compound {
  width:0px;
  height:0px;
}
#u62 {
  position:absolute;
  left:1154px;
  top:26px;
  width:3px;
  height:63px;
}
#u63 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
