body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1202px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:730px;
}
#u13214 {
  position:absolute;
  left:220px;
  top:138px;
  width:980px;
  height:730px;
}
#u13215 {
  position:absolute;
  left:2px;
  top:357px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#BCBCBC;
}
#u13216 {
  position:absolute;
  left:448px;
  top:316px;
  width:337px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#BCBCBC;
}
#u13217 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u13218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:36px;
}
#u13218 {
  position:absolute;
  left:1029px;
  top:85px;
  width:161px;
  height:35px;
}
#u13218_img.mouseOver {
}
#u13218.mouseOver {
}
#u13218_img.mouseDown {
}
#u13218.mouseDown {
}
#u13219 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u13220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:36px;
}
#u13220 {
  position:absolute;
  left:902px;
  top:85px;
  width:161px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13221 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u13222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:721px;
}
#u13222 {
  position:absolute;
  left:0px;
  top:89px;
  width:219px;
  height:721px;
}
#u13223 {
  position:absolute;
  left:2px;
  top:352px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:89px;
}
#u13224 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:89px;
}
#u13225 {
  position:absolute;
  left:2px;
  top:36px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:983px;
  height:49px;
}
#u13226 {
  position:absolute;
  left:217px;
  top:89px;
  width:983px;
  height:49px;
}
#u13227 {
  position:absolute;
  left:2px;
  top:16px;
  width:979px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13228 {
  position:absolute;
  left:0px;
  top:89px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13229 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u13230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13230 {
  position:absolute;
  left:0px;
  top:137px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13231 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u13232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13232 {
  position:absolute;
  left:0px;
  top:185px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13233 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u13234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13234 {
  position:absolute;
  left:0px;
  top:233px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13235 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u13236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13236 {
  position:absolute;
  left:0px;
  top:524px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13237 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u13238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13238 {
  position:absolute;
  left:0px;
  top:572px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13239 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u13240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(99, 216, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u13240 {
  position:absolute;
  left:0px;
  top:282px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u13241 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u13242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(238, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u13242 {
  position:absolute;
  left:0px;
  top:331px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u13243 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u13244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(238, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u13244 {
  position:absolute;
  left:0px;
  top:379px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u13245 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u13246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:49px;
}
#u13246 {
  position:absolute;
  left:0px;
  top:282px;
  width:7px;
  height:49px;
}
#u13247 {
  position:absolute;
  left:2px;
  top:16px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:32px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u13248 {
  position:absolute;
  left:229px;
  top:98px;
  width:304px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u13248_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:32px;
  background:inherit;
  background-color:rgba(226, 234, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u13248.mouseOver {
}
#u13249 {
  position:absolute;
  left:0px;
  top:7px;
  width:304px;
  white-space:nowrap;
}
#u13250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(238, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u13250 {
  position:absolute;
  left:0px;
  top:427px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u13251 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u13252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:49px;
  background:inherit;
  background-color:rgba(238, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u13252 {
  position:absolute;
  left:0px;
  top:475px;
  width:219px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u13253 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u13254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:304px;
  background:inherit;
  background-color:rgba(241, 244, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13254 {
  position:absolute;
  left:220px;
  top:706px;
  width:982px;
  height:304px;
}
#u13255 {
  position:absolute;
  left:2px;
  top:144px;
  width:978px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u13256 {
  position:absolute;
  left:258px;
  top:746px;
  width:91px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u13257 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u13258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u13258 {
  position:absolute;
  left:909px;
  top:749px;
  width:71px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u13259 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u13260 {
  position:absolute;
  left:909px;
  top:874px;
  width:107px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u13261 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u13262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13262 {
  position:absolute;
  left:909px;
  top:774px;
  width:281px;
  height:80px;
}
#u13263 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u13264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u13264 {
  position:absolute;
  left:265px;
  top:782px;
  width:104px;
  height:17px;
  font-size:15px;
}
#u13265 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u13266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u13266 {
  position:absolute;
  left:489px;
  top:782px;
  width:104px;
  height:17px;
  font-size:15px;
}
#u13267 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u13268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u13268 {
  position:absolute;
  left:265px;
  top:809px;
  width:74px;
  height:17px;
  font-size:15px;
}
#u13269 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u13270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u13270 {
  position:absolute;
  left:489px;
  top:809px;
  width:76px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u13271 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u13272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u13272 {
  position:absolute;
  left:723px;
  top:782px;
  width:46px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u13273 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u13274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:214px;
}
#u13274 {
  position:absolute;
  left:900px;
  top:146px;
  width:290px;
  height:214px;
}
#u13275 {
  position:absolute;
  left:2px;
  top:99px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:283px;
}
#u13276 {
  position:absolute;
  left:900px;
  top:405px;
  width:290px;
  height:283px;
}
#u13277 {
  position:absolute;
  left:2px;
  top:134px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u13278 {
  position:absolute;
  left:920px;
  top:174px;
  width:261px;
  height:180px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u13279 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u13280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:112px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0588235294117647);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13280 {
  position:absolute;
  left:1173px;
  top:179px;
  width:8px;
  height:112px;
}
#u13281 {
  position:absolute;
  left:2px;
  top:48px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:112px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0588235294117647);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13282 {
  position:absolute;
  left:1173px;
  top:442px;
  width:8px;
  height:112px;
}
#u13283 {
  position:absolute;
  left:2px;
  top:48px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:26px;
}
#u13284 {
  position:absolute;
  left:900px;
  top:146px;
  width:290px;
  height:26px;
  color:#FFFFFF;
}
#u13285 {
  position:absolute;
  left:2px;
  top:5px;
  width:286px;
  word-wrap:break-word;
}
#u13286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u13286 {
  position:absolute;
  left:843px;
  top:631px;
  width:50px;
  height:50px;
}
#u13287 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13288 {
  position:absolute;
  left:919px;
  top:490px;
  width:180px;
  height:20px;
  color:#000000;
}
#u13288_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13288.mouseOver {
}
#u13288_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13288.mouseDown {
}
#u13289 {
  position:absolute;
  left:2px;
  top:2px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u13290 {
  position:absolute;
  left:923px;
  top:431px;
  width:123px;
  height:179px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u13291 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u13292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u13292 {
  position:absolute;
  left:1025px;
  top:522px;
  width:113px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u13293 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u13294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:36px;
}
#u13294 {
  position:absolute;
  left:1028px;
  top:370px;
  width:153px;
  height:35px;
}
#u13294_img.mouseOver {
}
#u13294.mouseOver {
}
#u13294_img.mouseDown {
}
#u13294.mouseDown {
}
#u13295 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u13296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:36px;
}
#u13296 {
  position:absolute;
  left:901px;
  top:370px;
  width:161px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13297 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
